version: '3.8'

services:
  epaper-display:
    build:
      context: .
      dockerfile: Dockerfile
      network: host  # <--- ADD THIS LINE HERE
    container_name: epaper_dashboard
    privileged: true
    devices:
      - "/dev/gpiomem:/dev/gpiomem"
      - "/dev/spidev0.0:/dev/spidev0.0"
    restart: always