version: '3.8'

services:
  epaper-display:
    build:
      context: .
      network: host
    platform: linux/arm64
    container_name: epaper_dashboard
    privileged: true
    devices:
      - "/dev/gpiomem:/dev/gpiomem"
      - "/dev/spidev0.0:/dev/spidev0.0"
    restart: always